body {
  /* background-color: rgb(7, 17, 76); */
  background-image:url("images/pexels-pixabay-358528.jpg") ;
  background-size: cover;
  font-family: "Nunito", sans-serif;
}

.white {
  color: white;
}
